Source: linuxmuster-linbo-gui7
Section: admin
Priority: extra
Maintainer: Thomas Schmitt <thomas@linuxmuster.net>, Dorian Zedler <dorian@itsblue.de>
Homepage: https://github.com/linuxmuster/linuxmuster-linbo-gui
Build-Depends: debhelper, docker-ce | moby-engine, docker-ce-cli | moby-cli

Package: linuxmuster-linbo-gui7
Architecture: all
Depends: linuxmuster-linbo7 (>= 4.3.0) | linuxmuster-cachingserver-linbo7
Description: Linuxmuster Linbo GUI
 This package contains the GUI for the Linux-based Network Boot
 (LINBO) boot/install/repair system.
